{% extends "base.html" %}

{% block content %}
    <h1 id="">Listing Surveys For {{for_user}}</h1>
	{% if path == 'vote' %}
		<form action='/generatevotingpage'>
		{% for i in surveys %}
                {% set c = i.replace(" ","__") %}
                <br><input type=radio name=voteon value={{c}} checked>{{i}}
		 {% endfor %}
	        <p><input type="submit" value="I Wanna Vote On This Survey!"/></p>
    		</form>
	{% else %}
	{% if path == 'add' %}
		<form action='/addItems'>
		{% for i in surveys %}
                {% set c = i.replace(" ","__") %}
                <br><input type=radio name=voteon value={{c}} checked>{{i}}
	        {% endfor %}
		<p>Add These Items To The Selected Survey<input type=text name=additems /></p>
		<p><input type="submit" value="Add Items To This Survey"/></p>
		</form>
	{% else %}
		<form action='/generatevotingpage'>
		{% for i in surveys %}
                {% set c = i.replace(" ","__") %}
                <br><input type=radio name=voteon value={{c}} checked>{{i}}
	        {% endfor %}
		<input type=hidden name=delete value=delete />
		<p><input type="submit" value="Delete Items From This Survey"/></p>
        	</form>
	{% endif %}
	{% endif %}
{% endblock %}

